<div class="hero">
  <div class="hero-inner">
    <a href="" class="dive-flag-logo"><img src="<%= asset_path("dive_flag.jpg") %>" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Welcome to DiveSights!</h1>
      <p>For use as a general reference for sharing and locating dive sites.</p>
    </div>

    <%= form_for :session, url: session_path do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.submit "Sign in" %>
      </div>
    <% end %>

    <p>-- or --</p>
    <%= button_to "Sign Up", new_user_path, method: "get" %>
  </div>
</div>
