<div class="dive-specs">
<h1><%= dive_site.name %></h1>

<h4><%= dive_site.location %></h4>

<h5>Average depth: <%= dive_site.depth %>ft</h5>
</div>

<div class="dive-description">
  <%= dive_site.description %>
</div>

<div class="edit_site">
  <%= link_to "Edit Site Info", edit_dive_site_path %><br />

  <% if signed_in? && current_user.admin? %>
    <%= link_to "Delete Site", dive_site_path, method: :delete %>
  <% end %>
</div>
