<div id="latlng"></div>

<div id="output"></div>

<div id="dive_site_form">
<%= form_for dive_site do |form| %>
  <%= render "error_messages", target: dive_site %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location, class: "coords_name" %>
  </div>

  <div>
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: "lat_coords" %>
  </div>

  <div>
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: "long_coords" %>
  </div>

  <div>
    <%= form.label :depth %>
    <%= form.text_field :depth %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
</div>
