<div class="dive_site_show">
  <div class="dive_site_info">
    <%= render @dive_site %>
  </div>


  <div class="nearby_sites">
    <h3>Nearby Dive Sites</h3>
    <ul>
      <%= render "dive_sites/nearby", dive_site: @dive_site %>
    </ul>
  </div>

  <div id="dive-carousel">
    <%= render collection: @images, partial: "dive_sites/image" %>
  </div>

  <h5>Comments</h5>

  <div class="comments">
    <%= link_to "Add a comment", new_dive_site_comment_path(@dive_site) %>
  </div>

  <ul>
    <%= render @comments %>
  </ul>

  <% if signed_in? %>
    <div class="dive_image_form">
      <%= render "images/form", image: @image %>
    </div>
  <% end %>
</div>
