<div class="user_show">
  <h1>This is the profile for <%= @user.email %></h1>

  <div class="profile-pic">
    <% if @user.image_url? %>
      <%= image_tag @user.image_url %><br/ >
    <% else %>
        <p>Add a profile picture</p>

        <%= form_for @user do |form| %>
          <div>
            <%= form.text_field :image_url %>
            <%= form.label :image_url %>
          </div>

          <div>
            <%= form.submit %>
          </div>
        <% end %>
      <% end %>

      <%= link_to "Edit profile", edit_user_path %>

  </div>

  <div id="user-carousel">
    <%= render collection: @images, partial: "dive_sites/image" %>
  </div>

  <% if current_user.can_modify?(@user) %>
    <%= render "images/form", image: @image %>
  <% end %>
</div>
