<div class="navigation-wrapper">
<a href="/" class="logo">
  <%= image_tag "diver_logo_inverted.gif" %>
</a>
<a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
<div class="nav">
  <% if signed_in? %>
    <ul id="navigation-menu">
      <li class="nav-link"><%= link_to "DiveSights", root_path %></li>
      <li class="nav-link"><%= link_to "Profile", user_path(current_user) %></li>
    </ul>
</div>
<div class="navigation-tools">
  <div class="search-bar">
    <div class="search-and-submit">
      <%= form_tag searches_path, :method => :get do %>
        <%= search_field_tag :search, nil, placeholder: "Search Dive Sites" %>
        <button type="submit">
          <%= image_tag "search-icon.png" %>
        </button>
      <% end %>
    </div>
  </div>
  <%= link_to "Sign Out", session_path, method: :delete, class: "sign-up" %>
  <% if current_user.admin? %>
    <h5>WelcomeAdmin</h5>
  <% end %>
<% end %>
</div>
