<p>-------------------------</p>
<%= form_for image do |form| %>
  <%= render "error_messages", target: image %>

  <%= form.hidden_field :dive_site_id %>

  <div>
    <h5>Add a photo</h5>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <%= form.submit "Add an Image" %>
<% end %>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
