<%= link_to "Back to", dive_site_path(@image.dive_site_id) %><br />
<%= link_to @image.dive_site.name, dive_site_path(@image.dive_site_id) %><br />

<%= @image.dive_site.location %><br />

<%= render @image %>

<% if signed_in? %>
  <% if current_user.likes_image?(@image) %>
    <h5>You love this image</h5>
  <% else %>
    <%= button_to "Like Image", image_likes_path(@image) %>
  <% end %>
<% end %>

<h5>Liked by <%= pluralize @image.image_likes.count, "person" %></h5>
